<div class="recommended_items">
    <h2 class="title text-center">Рекоменованное</h2>

    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

            <div class="item active">

                @for (int i = 0; i < ViewBag.products.Count / 2; i++)
                {
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src=@ViewBag.products[i].Img alt="" />
                                    <h2>@ViewBag.products[i].Price</h2>
                                    <p>@ViewBag.products[i].Info</p>
                                    @using (Ajax.BeginForm("AddToCart", new AjaxOptions { }))
                                    {
                                        <input type="hidden" name="Id" value="@ViewBag.products[i].ProductId" />
                                        <input type="submit" class="btn btn-default add-to-cart" value="Добавить в корзину" />

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>

            <div class="item">
                @for (int i = ViewBag.products.Count / 2; i < ViewBag.products.Count; i++)
                {
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src=@ViewBag.products[i].Img alt="" />
                                    <h2>@ViewBag.products[i].Price</h2>
                                    <p>@ViewBag.products[i].Info</p>
                                    @using (Ajax.BeginForm("AddToCart", new AjaxOptions { }))
                                    {
                                        <input type="hidden" name="Id" value="@ViewBag.products[i].ProductId" />
                                        <input type="submit" class="btn btn-default add-to-cart" value="Добавить в корзину" />

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div><!--/recommended_items-->
